<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
<!-- <configuration scan="false" scanPeriod="60 seconds" debug="false"> -->

  <property name="log.level"  value="INFO" />
  <property name="log.dir"  value="D:/live_logs/comet" />
	
  <!-- 控制台打印 -->
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">   
       <level>${log.level}</level>   
    </filter>  
    <encoder>
      <pattern>%d{HH:mm:ss} %-5level %logger[%line] - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!-- 记录项目所有日志 -->
  <appender name="liveWebAll" class="ch.qos.logback.core.rolling.RollingFileAppender">
  		 <filter class="ch.qos.logback.classic.filter.ThresholdFilter">   
	       <level>${log.level}</level>   
	    </filter>  
        <file>${log.dir}/live-comet.log</file>
		<encoder>
		       <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger[%line] - %msg%n</pattern>
		</encoder>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
              <FileNamePattern>${log.dir}/back/live-comet.%d{yyyy-MM-dd}.log</FileNamePattern>
              <MaxHistory>30</MaxHistory>
        </rollingPolicy>
   </appender>
   
   <!-- 记录项目ERROR级别文件 -->
   <appender name="liveWebError" class="ch.qos.logback.core.rolling.RollingFileAppender">
		 <filter class="ch.qos.logback.classic.filter.ThresholdFilter">   
	       <level>ERROR</level>   
	    </filter>  
        <file>${log.dir}/live-comet-error.log</file>
		<encoder>
		       <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger[%line] - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
             <FileNamePattern>${log.dir}/back/live-comet-error.%d{yyyy-MM-dd}.log</FileNamePattern>
             <MaxHistory>30</MaxHistory>
        </rollingPolicy>
   </appender>
   
  <!-- 只输出WARN级别及以上的日志 -->
  <logger name="freemarker" level="WARN" />
  <logger name="org.springframework.web.servlet.view.freemarker" level="WARN" />
  
   
   
  <root level="${log.level}">
    <appender-ref ref="console" />
    <appender-ref ref="liveWebAll" />
    <appender-ref ref="liveWebError" />
  </root>
  
  
</configuration>